html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fin Reset CSS*/
@font-face {
	font-family: 'carouselambra';
	src: url('../fonts/carouselambra-webfont.eot?') format('eot'), 
	     url('../fonts/carouselambra-webfont.woff') format('woff'), 
	     url('../fonts/carouselambra-webfont.ttf')  format('truetype'),
		 url('../fonts/carouselambra-webfont.svg#CarouselambraRegular') format('svg');
		 
	
}
@font-face{
	font-family:'hodyicons';
	src: url('../fonts/hodyicons.woff') format('woff');
}



/*Tipografias*/
/*font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Luckiest Guy', cursive;*/

body{
    font-family: "Helvetica Neue", helvetica, Arial, sans-serif;
}



.logo{
    position: relative;
    margin: 0 auto;
    width: 70px;
}
.header{    
    padding: 12px 24px;      
    background:url(../img/headerBKG22.png);
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 99;
    /*PARA QUE SALGA EL BOTON RESPONSIVE TIENE QUE BORRAR POSITION Y WIDHT*/ 
    
}
.navbar-light .navbar-nav .nav-link{
    font-family: 'carouselambra', cursive;
    font-size: 40px; 
    padding-right: 15px;   
    margin-left: 17px;   
    margin-top: 4px;    
    color: #FFF;
    text-shadow: 1px 1px 10px rgb(144, 226, 11);    
    
    
}
.posicion{
margin-bottom: -1px;
}


/*---------Boton Responsive---------------*/
.boton-responsive{
	border: none;

}
.boton-responsive:focus{
    outline: none;
    
}
.boton-responsive span{
	display: block;
	width: 30px;
	height: 2px;
	margin: 6px 0;
	background: rgb(144, 226, 11);
	transition: all .2s;
}
.boton-responsive.activo span:first-child{
	transform: rotate(45deg) translate(5px,-5px);
}
.boton-responsive.activo span:nth-child(2){
	display: none;
}

.boton-responsive.activo span:last-child{
	transform: rotate(-45deg) translate(10px,0px);
}
/*------------------------------------------------*/



/*--CARROUSEL*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(72, 77, 71);
    box-shadow: 5px 5px 10px black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /*---------------------*/




 .logo11{	 
	 width:120%;
	 height:60%;
	 margin-left: -20px;
	 
 }

 .welcome{
	 font-family: 'carouselambra';
	 font-size: 38px;
	 padding-left: 100px;
	 color: yellow;
	 text-shadow: 5px 5px 10px red;
	 word-spacing: 10px;
	
 }

/*-----Section FOOD-----*/



 .menuu{
		
		 background-color: #f7f7f7;
		 padding: 150px 0;
 }

 .menu{
	box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
	width: 100%;
	
 }

.cajatexto{
	
	margin:20px 0 50px 0;
	text-align: center;
}
 .textor{
	 font-size: 50px;
	font-family: 'Pacifico';
 }

 .box{
	background-color: #fff;
	padding:75px;	
	padding-top: 25px;
    position: relative;
 }
 .box.with-box-shadow{
	box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
 }




 .icon-tabs {
    border-bottom: 0;
    margin-bottom: 25px;
    text-align: center;
}
.icon-tabs.cols-4>li {
    width: 25%;
}
.icon-tabs >li {    
    display: inline-block;
	float: none;
}

.icon-tabs > li.active > a {
	color: #ff4656;
	opacity: 1;
    border: 0;
    background-color: transparent;    
    cursor: pointer;
    outline: none;
	}

.icon-tabs >li >a {
	text-transform: uppercase;
	padding: 15px 0;
	letter-spacing: 0.1em;
	font-size: 11px;
	border-radius: 0;
	color: #2d2d2d;
	font-family: "Montserrat", sans-serif;
	background-color: transparent;
	border: 0;
	margin-right: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	opacity: .7;
	text-decoration: none;
}
.icon-tabs >li >a >i {
    display: block;
    font-size: 42px;
    margin-bottom: 20px;
}
.hc-food {
	font-family: 'hodyicons';

}

.hc-food:before {
    content: "\e0a5";
}

.hc-cultery{
	font-family: 'hodyicons';
}
.hc-cultery:before{
	content: "\e0ed";
}


.hc-drinks{
	font-family: 'hodyicons';

}
.hc-drinks:before{
	content:"\e0eb";
}

.hc-croissant{
	font-family: 'hodyicons';

}
.hc-croissant:before{
	content: "\e0ee";
}





/*----Medida pantalla Laptops------*/
@media screen and (min-width: 993px) and (max-width: 1200px){
	
}


/*Media query para tablets*/
@media screen and (min-width: 769px) and (max-width: 992px){
	
	.textor{
		font-size: 35px;
	}

	.menuu{
		width: 70%;
	}
	
}


/*Media Query para mobiles*/
@media screen and (max-width: 768px){
	.navbar-light .navbar-nav .nav-link{
		font-size:25px;
	}


	.logo{
		display: none;
	}


	.welcome{
		line-height: 500px;
		
	}
	.posicion{
		position: absolute;
		margin-top: 30px;
	
		
	}


	.textor{
		font-size: 20px;
	}

	.menuu{
		
		
		padding-top: 20px;
}
 .icon-tabs.cols-4>li{
	 width: 50%;
	 margin-bottom: 20px;
 }
 .icon-tabs >li >a {
	 font-size: 8px;
	 opacity:none;
	
 }

/*--------------------------------------------------------*/
}



